<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./format.css">
    <title>Layout</title>
</head>
<body>
    <main class="cuadro1">
        <header class="cuadro2"> 
            <p>BARRA DE HERRAMIENTAS</p>
        </header>
        <section class="cuadro3">
            <sidebar class="cuadro4">
                  <p>CONTENIDO SECUNDARIO</p> 
            </sidebar>
            <section class="cuadro5">
                <div class="cuadro6"> 
                    <p>SUB BARRA DE HERRAMIENTAS</p> 
                </div>
                <div class="cuadro7">    
                </div>
            </section>
        </section>
    </main>
</body>
</html>